.header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    padding: 20px 0;
    z-index: 9998;
}

.header__logo {
    display: inline-block;
    padding: 6px 25px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.2;
    color: #ffffff;
    border: 1px solid #ffffff;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    outline: none;
    transition: all 0.5s ease;
}

.header__logo:hover {
    border-color: #43A2F0;
    color: #43A2F0;
}

@media only screen and (min-width: 768px) {
    .header__logo {
        font-size: 28px;
    }
}
@media only screen and (min-width: 768px) {
    .header__logo {
        font-size: 28px;
    }
}